/* Background animation */
body {
    font-family: 'Papyrus', fantasy;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: baseline;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
    background:
        radial-gradient(circle at bottom, #f0f0f0, transparent 80%),
        linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 70%),
        linear-gradient(to bottom, transparent, rgba(50, 50, 50, 0.5) 70%), #000000;
    animation: bg 10s infinite;
}

@keyframes bg {
    0% { background-color: #000000; }
    25% { background-color: #2f003b; }
    50% { background-color: #473447; }
    75% { background-color: #3e3d3d; }
    100% { background-color: #000000; }
}

header {
    background-color: transparent; 
    position: fixed;
    width: 100%;
 

}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 2rem; 
    height: 70px; 
    width: 100%; 
    box-sizing: border-box; 
    background-color: #130202; 
}

.nav-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-brand a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav-brand a:hover {
    color: #fdfeff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 1.5rem;
    width: auto;
}

nav a {
    color: #ffffff;
    font-weight: 500;
    padding: 10px 16px;
    transition: color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

nav a:hover {
    color: #fdfeff;
    transform: translateY(-2px);
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}
