/*These contrast the color animation in background*/
body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
    background: 
        radial-gradient(circle at bottom, #ebbdbd, transparent 80%),
        linear-gradient(to top, rgb(105, 75, 241) 0%, transparent 70%),
        linear-gradient(to bottom, transparent, rgba(51, 72, 228, 0.4) 70%),#0348f6;
    animation: bg 10s infinite;
    }

@keyframes bg 
{
    0%, 100% { background-color: #ff9500; }
    25% { background-color: #2400f0; }
    50% { background-color: #0400ed; }
    75% { background-color: #1900ff; }
}

/*Button style*/
a
{
    position: relative;
    background: white;
    color: black;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: color 0.5s,box-shadow 0.5s,letter-spacing 0.5s;
    overflow: hidden;
}

a:hover
{

    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
a:before
{
    content:'';
    position:absolute;
    inset:2px;
    background:#c1c0f6;

}
@keyframes button-glow
{
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
a span
{
    position: relative;
    z-index: 1;
}
